
.calculator{
    width: 40%;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 870px){
    .main__container{
    
        width: 90%;
    }  
}

@media screen and (max-width: 810px){
    .main__container{
    
        width: 95%;
    }
}

@media screen and (max-width: 760px){
    .information{
        order: 1;
        width: 50%;
        height: auto;
    }

    .calculator{
        order: 2;
        width: 50%;
        display: flex;
        justify-content: end;
    }
}